#commitment {
	padding: 21px;
}

#commitment .commitment-steps-container {
	display: flex;
	justify-content: center; /* center items vertically, in this case */
	align-items: center;
}

#commitment .commitment-step {
	background: #111;
	color: #fff;
	text-align: center;
	margin: 21px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: flex;
	flex-direction: column; /* make main axis vertical */
	justify-content: center; /* center items vertically, in this case */
	align-items: center;
}

#commitment .commitment-step i {
	font-size: 2em;
}

#mc_embed_signup {
	background: #fff;
	clear: left;
	max-width: 600px;
	margin: 0 auto;
}

#mc_embed_signup p {
	font-size: 0.8em;
	color: #888;
}

#mc_embed_signup .button {
	background: #fcf04c !important;
	color: #111 !important;
	font-size: 1em !important;
	border: none !important;
	padding: 10px 20px !important;
	border-radius: 25px !important;
	height: auto !important;
}