#curiosity {
	position: relative;
	overflow: hidden;
	background-color: #111;
	background-image: url("../images/rickroll.gif");
	background-position: center;
	background-size: cover;
	color: #fff;
	font-size: 1em;
}

#curiosity .content {
	position: relative;
	z-index: 5;
	padding: 21px;
	min-height: 100vh;
}

#curiosity .curiosity-bottom > div {
	padding: 10px;
	transform: translate3d(0, 0, 0);
	text-shadow: 
		0px -3px 0 #212121, 0px -3px 0 #212121, 0px 3px 0 #212121,
		0px 3px 0 #212121, -3px 0px 0 #212121, 3px 0px 0 #212121, -3px 0px 0 #212121,
		3px 0px 0 #212121, -3px -3px 0 #212121, 3px -3px 0 #212121, -3px 3px 0 #212121,
		3px 3px 0 #212121, -3px 6px 0 #212121, 0px 6px 0 #212121, 3px 6px 0 #212121;
}

#tv-toggle {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 5;
	width: 42px;
	height: 42px;
	padding: 0;
	font-size: 42px;
	line-height: 37px;
	background: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
}

#tv-toggle:focus {
	outline: none;
}

#tv-toggle.off {
	color: #111;
}

/* Tooltip text */
#tv-toggle .tooltip-text {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 100%;
	margin-left: 10px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
#tv-toggle .tooltip-text::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tv-toggle:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

#curiosity .fly-in {
	position: relative;
	z-index: 1;
	font-size: 2.2em;
	line-height: 0.8;
	min-height: 420px;
	flex-grow: 1;
	text-transform: uppercase;
}

#curiosity .fly-in div {
	opacity: 0;
}

#curiosity .fly-in div svg {
	width: 70vw;
	height: auto;
}

#curiosity .static-wrapper {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	content: " ";
	overflow: hidden;
	background: #16222a; /* Fallback for old browsers */
	background: -webkit-linear-gradient(to left, #16222a, #3a6073);
	background: linear-gradient(to left, #16222a, #3a6073);
	background-size: cover;
	background-image: url(https://cldup.com/gn3s3Fg75t.gif);
	z-index: 0;
}

#curiosity .crt-overlay {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#curiosity .crt-overlay::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
}

#curiosity .crt-overlay::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: 
		linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(90deg,
		rgba(255, 0, 0, 0.06),
		rgba(0, 255, 0, 0.02),
		rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}