#enlightenment .turtle-content {
  background-image: url(../images/turtle-background.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  align-self: stretch;
  flex-grow: 1;
  padding: 10px 60px;
  overflow: hidden;
  position: relative;
  cursor: none;
  width: 60%;
}

#enlightenment .sewer-container {
  position: relative;
  height: 100%;
}

#enlightenment .sewer-container img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

#enlightenment .sewer-container .sewer-hole {
  width: auto;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#enlightenment .sewer-container .ninja-eye {
  animation: blink 3s linear infinite;
  fill: #fff;
}

#enlightenment .turtle-content .cursor {
  width: 100px !important;
  height: 72px !important;
  padding: 0 !important;
  align-self: auto !important;
  opacity: 0;
  position: fixed;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
  display: none !important;
}
