header {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	height: auto;
	padding: 5px 20px;
	overflow: hidden;
	background: #111111;
	color: #ffffff;
	-webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: width 0.5s, height 0.5s;
	-o-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header .lopez-creative-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .lopez-creative-logo svg {
	fill: #ffffff;
	width: auto;
	height: 2em;
	margin-right: 5px;
}

header .lopez-creative-logo h1 {
	line-height: 0.85;
	font-size: 1.3em;
	letter-spacing: 0.06em;
}

header .lopez-creative-logo h1 span {
	font-size: 1.2em;
}

header .nav-callout {
	display: none;
}

header ul {
	font-family: "Bangers", cursive;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

header ul li {
	margin-bottom: 5px;
	text-align: center;
}

header ul li a i {
	color: #ffdc00;
	width: 1.6em;
}

header ul li a:hover i {
	animation: bounce 0.5s;
}

header ul li a .nav-text {
	display: none;
}

header ul li:last-child {
	display: none;
}

header ul li a.degree-link {
	width: 60%;
	margin: 0 auto;
}

header ul li svg .seal-outline {
	fill: #fff;
}

header ul li svg .seal-interior {
	fill: #333333;
}

header ul li svg .seal-leaf-cap-interior {
	fill: #ffdc00;
}

header ul li svg .seal-leaf-cap-outlines {
	fill: #111;
}

header ul li svg .seal-text {
	fill: #fff;
}

header ul li svg .seal-cap-glow {
	fill: #111;
}