#portfolio {
	padding: 21px;
	position: relative;
	color: #fff;
}

#portfolio h1,
#portfolio p {
	z-index: 5;
	position: relative;
}

#portfolio .blockquote-container {
	margin: 42px auto;
	width: 100%;
	text-align: center;
	font-style: italic;
}

#portfolio .portfolio-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

#portfolio .portfolio-item {
	flex-basis: 33.3%;
	text-align: center;
}

#portfolio .card-item {
	position: relative;
	z-index: 420;
	display: inline-block;
	margin: 21px;
	color: #fcf04c;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	min-width: 300px;
	text-align: left;
	border: 3px solid #ffdc00;
}

#portfolio .card-item .card-item-image-wrapper {
	position: relative;
	height: 300px;
	width: 100%;
	display: block;
	overflow: hidden;
	/* z-index: 420; */
}

#portfolio .card-item .card-item-image {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

#portfolio .card-item h2 {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 420;
	margin: 0;
	padding: 5px;
}

#portfolio .card-item i {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 420;
}

#portfolio .hackers-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}