body {
	background-color: #000;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
	font-family: 'Graduate', cursive;
}

.page-title {
	position: absolute;
	z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: #CE1141;
    font-size: 5vw;
    text-transform: uppercase;
}

.background-text {
	position: absolute;
	z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 18vw;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 7px;
	-webkit-text-stroke-color: white;
	opacity: 0.2;
}