@font-face{src:url(./fonts/gilroy-bold.otf) 
	format("otf");font-family:Gilroy;font-style:normal;font-weight:700}

@font-face{src:url(./fonts/gilroy-semi-bold.otf) 
	format("otf");font-family:Gilroy;font-style:normal;font-weight:600}

@font-face{src:url(./fonts/gilroy-medium.otf) 
	format("otf");font-family:Gilroy;font-style:normal;font-weight:500}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	letter-spacing: -.1px;
    font-variant-ligatures: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55556;
    font-family: 'Open Sans', sans-serif;
    color: #646464;
    /* background-image: url(./images/art-background.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,250,247,1) 42%);
}

h1, h2, h3, h4, h5, h6 {
	font-family: Gilroy,Helvetica,sans-serif;
	color: #4a4a4a;
	letter-spacing: -.2px;
}

h1.page-title {
    margin: 0;
    padding: 0;
    line-height: 1;
}

h3 {
	font-size: 42px;
	font-weight: 700;
	line-height: 50px;
}

.progress {
    margin-bottom: 56.1px !important;
}
.progress-bar {
	background-color: #33a8ff;
}

.program_container .points {
    float: right;
    right: 60px;
    top: -10px;
    position: relative;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.program_container .points .total {
    display: none;
    background-color: #fbfaf7;
    color: #393e72;
    border: 2px solid #393e72;
    box-shadow: 2px 3.46px 8px 0 rgba(39,44,49,.12), 8px 13.86px 38px 0 rgba(39,44,49,.08);
}
.program_container .points .change.positive {
    background-color: #7ed321;
    border: 2px solid #7ed321;
}

#program_navigation {
    border-bottom: none;
    background-image: url(./images/title-bg.jpg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    min-height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
	padding-bottom: 18.7px;
	display: inline-block;
}

#program_navigation #run-menu .dropdown-toggle {
    background-color: #fff;
    border: 2px solid #73d5c6;
    border-radius: 5px;
}
#program_navigation #back-button {
    float: right;
    position: relative;
    top: 20px;
    height: 47px;
    line-height: 47px;
    width: 47px;
}

.main {
	overflow: visible;
	box-shadow: 2px 3.46px 8px 0 rgba(39,44,49,.12), 8px 13.86px 38px 0 rgba(39,44,49,.08);
    margin: 0 0 40px;
    padding: 40px;
    transition: box-shadow .6s;
    background: #fff;
    border-radius: 10px;
}
.main:hover {
	box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

button, .submit {
    font-weight: 600 !important;
    color: #fff !important;
    background: #ff6a4c !important;
    transition: background .4s;
}
button:hover, .submit:hover {
    background: #eb6246 !important;
}


.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #33a8ff;
}