@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: "Teenage Dreams Regular";
  src: url("/indieground-teenagedreams/TeenageDreamsFont-Demo-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Teenage Dreams Bold";
  src: url("/indieground-teenagedreams/TeenageDreamsFont-Demo-Bold.ttf")
    format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Teenage Dreams Alternative1";
  src: url("/indieground-teenagedreams/TeenageDreamsFont-Demo-Alternative1.ttf")
    format("truetype");
}

@font-face {
  font-family: "Teenage Dreams Alternative2";
  src: url("/indieground-teenagedreams/TeenageDreamsFont-Demo-Alternative2.ttf")
    format("truetype");
}

@font-face {
  font-family: "Dujitsu";
  src: url("/indieground-dujitsu/DujitsuFont-Demo.otf") format("opentype");
}

.custom-font {
  font-family: "Press Start 2P", system-ui;
}

body {
  margin: 0;
  overflow: auto; /* Allow scrolling */
  background: linear-gradient(135deg, #2b1055, #7597de);
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #e0e0e0;
}

.grid-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-item {
  border: 1px solid rgba(233, 69, 96, 0.2);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.highlight {
  background-color: rgba(233, 69, 96, 0.3141);
  box-shadow: 0 0 42px #e94560;
}

.glow-on-hover:hover {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 5px #e94560,
      0 0 10px #e94560,
      0 0 20px #e94560,
      0 0 40px #e94560,
      0 0 80px #e94560,
      0 0 90px #e94560,
      0 0 100px #e94560,
      0 0 150px #e94560;
  }
  100% {
    text-shadow:
      0 0 10px #03fcf0,
      0 0 20px #03fcf0,
      0 0 30px #03fcf0,
      0 0 40px #03fcf0,
      0 0 50px #03fcf0,
      0 0 60px #03fcf0,
      0 0 70px #03fcf0,
      0 0 80px #03fcf0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dujitsu", sans-serif;
  letter-spacing: 2px;
  color: #fff951;
  text-transform: uppercase;
  filter: drop-shadow(3px 6px 0 #000000);
}

/* make the text a moving gradient with #fff951 */
h1,
h2 {
  background: linear-gradient(
    90deg,
    #fff951 0%,
    #51a8ff 25%,
    #ff51f9 50%,
    #51ffa8 75%,
    #fff951 100%
  );
  background-size: 1000% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: background 2000s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 1000% 50%;
  }
}

a {
  color: #e94560;
  font-weight: bold;
  transition: color 0.3s ease;
  filter: drop-shadow(1px 2px 0 #000000);
}

a:hover {
  color: #03fcf0;
  text-shadow:
    0 0 1px #03fcf0,
    0 0 3px #03fcf0;
}

@keyframes header-glow {
  0% {
    text-shadow:
      0 0 1px #03fcf0,
      0 0 3px #03fcf0;
  }
  100% {
    text-shadow:
      0 0 3px #03fcf0,
      0 0 5px #03fcf0;
  }
}

.section-divider {
  border-bottom: 2px solid #e94560;
  margin: 20px 0;
  position: relative;
}

.section-divider::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 2px;
  background: #03fcf0;
  animation: divider-glow 2s infinite alternate;
}

@keyframes divider-glow {
  0% {
    width: 0;
    left: 50%;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glow-text {
  animation: glow 2s infinite alternate;
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* Adding a background for better readability */
  padding: 5px;
  border-radius: 5px;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 1px #e94560,
      0 0 3px #e94560;
  }
  100% {
    text-shadow:
      0 0 3px #e94560,
      0 0 5px #e94560;
  }
}

.section-glass {
  background-image: linear-gradient(
    rgba(17, 24, 39, 0.69),
    rgba(31, 41, 55, 0.69)
  );
}
.section-glass::after {
  border-radius: 6px;
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #00000042;
  filter: blur(6px);
}

/* a card that goes well over the section. Also semi transparent with a shadow */
.card {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
}


/* 80s style keyboard button with animation */
/* .keyboard-button {} */
   
